[2013-12-08 22:48] kruser opened #1 "Move filters to the server"
Instead of loading all years of atbats for a pitchers/batter, we should only load up the last year by default.

Then when filters are changed, the entire filter set should be sent to the server, to perform the filters in the database, rather than putting that logic in the UI. It was a good effort but it is too complicated for the browser.

[2013-12-08 22:56] kruser opened #2 "New Filter: Pitch Speed"
This filter should allow the user to filter atbats and pitches on a range of pitch speeds

[2013-12-08 22:57] kruser opened #3 "New Filter: Pitch Type"
This filter should allow the user to filter atbats and pitches based on an array of pitch types. An empty array would mean they are interested in all types.

[2013-12-08 22:58] kruser opened #4 "New FIlter: Outs"
All the user to filter atbats and pitches by the number of outs

[2013-12-08 23:01] kruser opened #5 "New Filter: Balls & Strikes"
All the user to filter atbats and pitches based on balls and strikes. The user should be able to multiselect the ball and strike count, sending an array of each to the server.

[2013-12-08 23:04] kruser opened #6 "Player Card Rearrange"
We're losing too much space at the top of the player page. For this task we want to move the stats up and keep the player info in the leftmost columns.

![image](https://f.cloud.github.com/assets/2208700/1701517/08fbddc6-605d-11e3-93e0-47e43a7059c3.png)

[2013-12-08 23:16] kruser opened #7 "Pitch Heat Chart: Hit Quality (wOBA)"
For this task we want to create a heat chart for pitches and base it on wOBA values of a hit.

The value of a hit ball should reflect the size of the scatter plot dot proportionally to the wOBA value of the hit. All dots should be equally transparent.

[2013-12-08 23:18] kruser opened #8 "Pitch Heat Chart: Hit Type"
For this task we want to add a heat chart based on pitch locations, with different color dots based on the hit type.
- grounder = blue
- popup = yellow
- line drive = green
- fly ball = red

All dots should be the same size and transparency

All types should be deselectable such that the user can drill into specific ones

[2013-12-08 23:19] kruser opened #9 "Pitch Heat Chart: Whiffs"
For this task we should add a new heat chart based on pitch positions. All dots represent a swing and a miss.

[2013-12-09 00:57] kruser opened #10 "Persist filters to local storage"
When visiting a new player card, it should use the same filters that were used on the last player card.

Implementation notes:
Persist the entire filter object to local storage using the angular-cache library.

[2013-12-09 00:59] kruser opened #11 "Add player search on player card page"
Add a search box in the header of the player page so the user doesn't have to go back to the home page to do a new search.

[2013-12-09 01:03] kruser opened #12 "Fix up the header links on the home page"
Right now the header links use anchors to navigate to sections of the home page. Angular is intercepting those anchors, causing the links not to go to the right place.

[2013-12-15 16:28] kruser opened #13 "New Filter: Inning"
Add a filter for the user to be able to select any inning they want. Innings 1-9 should be radio buttons, and extra innings should also be a radio button.

[2013-12-16 03:14] #6 closed, assigned to kruser

[2013-12-17 04:52] #1 closed, assigned to kruser

[2013-12-19 03:02] kruser opened #14 "New Chart: Pitch Speeds"
Create a histogram of pitch speeds to show near all other charts

[2013-12-28 02:14] #12 closed, assigned to kruser

[2013-12-28 05:31] #11 closed, assigned to kruser

[2013-12-28 06:34] #4 closed, assigned to nobody

[2013-12-28 06:49] #13 closed, assigned to nobody

[2014-01-08 14:58] kruser opened #15 "How to strike out a batter"
offer insight to pitch patterns describing the most common ways a batter strikes out

[2014-01-08 14:59] kruser opened #16 "How to get a batter out"
Calculate a certainty for being able to perform defensive shifts on a batter. The calculations should take into account...
- hit angles
- hit trajectory (grounder, liner, fly ball, popup)
- pitch type
- pitch speed
- pitch location
- pitcher handedness

[2014-01-08 15:25] kruser opened #17 "Add coming soon feature links for Milestone 1"
We'll be adding two features soon that we won't have ready for milestone1.
#15 and #16

This task is to add buttons or links for these features that explain what is coming next in the form of a tooltip or an info directive.

[2014-01-19 03:30] #14 closed, assigned to nobody

[2014-01-19 05:08] #10 closed, assigned to nobody

[2014-01-19 05:27] kruser opened #18 "How to get a batter to whiff"
Whiffs are not the product of a single pitch. Much more can be learned by looking at the whiffed pitches in the context of the entire at-bat, specifically the surrounding pitches.

For this feature, we should present the patterns that offer the best chance to make the batter whiff.

The patterns should take into account:
- count
- previous pitch position, type and speed

[2014-01-19 05:31] #15 closed, assigned to nobody

[2014-01-19 05:31] kruser commented on #15
closed in favor of another issue

[2014-01-29 23:37] kruser opened #19 "New Filter: Regular Season & Postseason"
Create a filter that allows the user to pick the regular season and postseason as radio-button type filters. By default the filter should only have the regular season selected.

[2014-01-29 23:50] kruser opened #20 "Selecting a pitcher hand for a batter and then going back to a pitcher creates a hidden filter with no results"
Reproduction scenario
- go to a batters page
- filter on right handed pitchers
- now go to a left handed pitchers page and you'll see no results

The fix
- when getting pitcher stats we should ignore the pitcherHand filter

[2014-01-29 23:51] kruser opened #21 "Show the Batter Hand for switch hitting batters"
If the batter is a switch hitter we should show the batterHand filter in order to show their splits accordingly.

[2014-01-30 04:36] #17 closed, assigned to nobody

[2014-01-30 04:57] #21 closed, assigned to nobody

[2014-01-31 03:30] kruser opened #22 "Show a loading indicator when pitches or atbats are loading"
When you change a filter it should be obvious to the user that something is happening. I suggest a little 'fa fa-spin fa-spinner' on the active tab next to the title of the tab.

[2014-01-31 03:44] kruser opened #23 "Speed up loading of pitches"
The payload of a pitchers pitches for a single year can be several megabytes. We should be able to cut that in at least half by trimming out unnecessary properties.

[2014-01-31 04:29] #20 closed, assigned to nobody

[2014-01-31 05:36] #22 closed, assigned to nobody

[2014-01-31 06:10] kruser opened #24 "Add Google Analytics"
- for page loads
- events on filters changing

[2014-02-03 04:38] kruser commented on #8
I'm closing this for now. I'm not convinced of its value.

[2014-02-03 04:38] #8 closed, assigned to nobody

[2014-02-03 06:29] #23 closed, assigned to nobody

[2014-02-03 18:59] #7 closed, assigned to nobody

[2014-02-03 18:59] #9 closed, assigned to nobody

[2014-02-04 03:27] kruser opened #25 "Allow a user to link directly to filtered pitches or atbats"
We should create a permalink to a state of the app, allowing users to create a filtered view of atbats or pitches and then share a link directly to them.

This link should use a shortener like bit.ly as it will certainly contain the json filters as an angular route.

[2014-02-04 15:08] #3 closed, assigned to nobody

[2014-02-05 05:35] #5 closed, assigned to nobody

[2014-02-05 06:14] kruser commented on #2
Closing until I hear people screaming for it

[2014-02-05 06:14] #2 closed, assigned to nobody

[2014-02-05 06:41] #24 closed, assigned to nobody

[2014-02-06 15:30] bedwards opened #26 "change auto-suggest priority to prefer more recently active players"
change the priority of the auto-suggest to be something like number of at bats or innings pitches in recent years. more active players are more likely what people are searching for.

[2014-02-06 15:33] kruser commented on #26
I like it. I can also get a status (active|free-agent|retired) for each player that we could use to inform this.

[2014-02-06 18:53] kruser opened #27 "Make it clear when you're showing a batter's own stats versus opposing batters for a pitcher"
As the title says, it isn't clear when you're showing the batter's own stats versus the stats for the opposing hitters.

For this issue we should make that clear and also provide the ability to toggle between pitching and batting stats.

[2014-02-07 03:45] kruser commented on #19
done

[2014-02-07 03:45] #19 closed, assigned to nobody

[2014-02-07 06:04] #27 closed, assigned to nobody

[2014-02-08 21:47] #25 closed, assigned to kruser

[2014-02-09 03:22] kruser opened #28 "Bars don't render on IE"
IE11 doesn't like our progressBar bindings. See the screenshot.

![image](https://f.cloud.github.com/assets/2208700/2119024/5a530aa2-9139-11e3-8ff5-632f951d673c.png)

[2014-02-09 20:29] kruser opened #29 "Add a Twitter Feed Tab for each player"
We'll need to add twitter handles to each player in the players DB. We should figure out how to crowdsource that data. If the twitter handle is there, we should show their feed in a tab.

Let's still show the tab if we don't have a Twitter handle. In that case the body of the tab can ask the user if they know of the twitter feed.

I'm thinking for right now we can just let the user fill out a goog

[2014-02-12 18:38] kruser opened #30 "Add field percentages above each hit type"
A FanGraph's user has suggested it would be interesting to see a breakdown of left/center/right percentages for Line Drives.
http://www.fangraphs.com/qa/2766/how-do-you-find-ld%25-to-different-fields?show=2782#a2782

To accomplish this in PitchFX.org we can put this information on the tooltip of the pie chart on the atbat page.

[2014-02-12 19:59] #30 closed, assigned to nobody

[2014-02-14 21:32] albertlyu commented on #18
Base-out state would also be a good pattern to take into account. Batters will make the decisions differently (i.e. whether to swing) depending on who is on base and how many outs there are.

[2014-02-14 21:47] kruser commented on #18
Yes, good call @albertlyu

[2014-02-14 21:56] albertlyu commented on #18
FYI, there are many articles out there on The Hardball Times, Baseball Prospectus, The Baseball Analysts etc. on pitch sequencing from a PITCHf/x perspective. Josh Kalk, Mike Fast, and Joe P. Sheehan are some former baseball writers who have researched and written articles about pitch sequencing.

[2014-02-19 21:03] kruser opened #31 "Weight Pitch Charts Based on Frequency"
These pitch charts are reality...
![image](https://f.cloud.github.com/assets/2208700/2211672/e225c75e-99a8-11e3-9e80-744d7a558589.png)

...but the value in looking at them comes more from weighting based on frequency. That is, of course each player is going to show more green in the strike zone, because they see a heavy ratio of pitches there. The same is true for whiffs.

To get over this, we nee

[2014-02-19 21:48] albertlyu opened #32 "Coefficients in wOBA calculation needs to be season-dependent"
In stats.js, a function for calculating wOBA named 'calcwOBA' was written in lines 155-159 using Tom Tango's wOBA formula from The Book.

[code]

However, Tango's formula from The Book were based on standardized linear weights in order to find those wOBA coefficients. Since then, Tango has developed customized wOBA calculations based on seasonal run environments in order to more accurately assign

[2014-02-19 22:01] albertlyu commented on #28
Based on the browser console log, it appears that there is an issue with IE10 compatibility with highcharts.js. I've tested in IE10 and IE9 browser mode and am receiving multiple console errors:

[code]

[2014-02-19 22:07] albertlyu commented on #29
We could also spider the following Baseball-Reference link on a monthly basis to mine the Twitter handles for each player. It appears that B-R also uses crowdsourcing in order to obtain Twitter handle information. http://www.baseball-reference.com/friv/baseball-player-twitter-accounts.shtml

[2014-02-19 22:23] kruser commented on #28
@albertlyu, for the bars, I'm not using highcharts to render them, they're just simple bootstrap progress bars. I know what the issue is though, it's in the AngularJS binding of the value.

[2014-02-19 22:26] kruser commented on #29
@albertlyu, I think the BR page is really out of date. I think crowd-sourcing it would be best.

[2014-02-19 22:31] kruser commented on #32
Thanks @albertlyu, this is really helpful.

What do you think would be best to do when you're looking at stats that cross multiple years?

Also note, we use wOBA for the Hit Quality Bubble chart. Those values are in the UI code here:
https://github.com/kruser/pitchfx-site/blob/master/app/app/scripts/pojos/Pitch.js#L64-L86

@albertlyu, if you're interested in helping out with code let me know. This

[2014-02-19 23:02] #28 closed, assigned to nobody

[2014-02-19 23:08] kruser commented on #28
fixed and published to pitchfx.org

[2014-02-19 23:28] kruser opened #33 "Add player's mug shot to the auto complete"
Only for medium screens or bigger (aka, not mobile), we should add the players mug shot next to their name in the typeahead. This will allow users to distinguish players easier.

For example, this is what it looks like now. Notice if two players have similar names you have to guess.
![image](https://f.cloud.github.com/assets/2208700/2213240/8dea67f2-99bd-11e3-9283-1e22ab1ee580.png)

[2014-02-19 23:52] albertlyu commented on #32
Hi there @kruser. I am very interested in contributing, and I agree, this is absolutely a great place to get my feet wet. I have some JavaScript experience, a little bit of D3.js and jQuery, but I have not been intimately exposed to Node.js or MongoDB technologies until now.

I just forked atbat-mongodb if you don't mind, and am working through your readme file. I'm installing the Perl modules at

[2014-02-20 16:08] kruser commented on #32
Before you write a lot of code for this, let's talk about where we want to store the coefficients. We'll be adding other stats like FIP to the site and we should come up with a general system for these things.

My initial take is that these numbers aren't changing enough to warrant making them part of the database. Putting them in code would be cleaner and more portable. For the backend, a simple

[2014-02-20 16:53] albertlyu commented on #32
In that case, the answer to your question on how to calculate season-dependent stats spanning multiple seasons should be straightforward. A function such as getWobaCoefficients() or getFIPConstants() can source from the same annually-updated table that stores coefficients by season (and to your point about infrequent changes to these numbers, these can simply be a text file that's managed by us, c

[2014-02-20 17:00] kruser commented on #32
@albertlyu, agreed. Not a text file though, make it a javascript data structure inside of this new service. I would call it statsConstantsService.js and put it here: https://github.com/kruser/pitchfx-site/tree/master/app/lib/services

[2014-02-21 06:58] #33 closed, assigned to kruser

[2014-02-21 16:41] kruser commented on #33
This feature is now live on http://pitchfx.org.

![image](https://f.cloud.github.com/assets/2208700/2232051/fe86ba42-9b16-11e3-901b-875efa2bc2fe.png)

[2014-02-21 16:53] kruser commented on #26
This is semi-related to issue #33

With the mugshots now in the search auto-complete it is more obvious who's who. Players that don't have a mugshot on mlb.com are shown with a default grey shadow avatar.

[2014-02-21 23:50] kruser opened #34 "Use ui-bootstrap datepicker on desktops"
We use an HTML5 input type=date for our start and end dates on the atbat filters.

I'm not a fan of Chrome's date picker on input type=date as it tends to scroll like crazy when you least expect it. On top of that, Firefox and IE don't support that HTML5 input type anyways, so we get poor behavior.

We should see if we can use the ui-boostrap datepicker (already in our code base) when we're not on

[2014-02-21 23:57] kruser opened #35 "Update the URL with filter info always to facilitate sharing"
Right now you have to click the share button in the top-right corner of the site in order to generate a URL that is sharable directly to these stats.

This isn't really being a good web citizen. Instead, we should keep the URL always in sync with what the user is seeing on the screen. As part of this, let's move the AddThis functionality to the player page as a first class item.

[2014-02-22 00:12] albertlyu opened #36 "Add playerInfo elements to the auto complete"
In addition to the mug shots added in #33 and the auto-suggest priority ordering suggested by #26, I figured we could add a little more information next to the player's name. Maybe playerInfo.primary_position_txt and/or playerInfo.bats / playerInfo.throws? Is there a way we can have a short form prefix for playerInfo.team_name as well?

So for example: [mugshotpic] P Clayton Kershaw L/L LAD

We ca

[2014-02-22 00:27] albertlyu opened #37 "Pitchers' player pages should load pitches as default"
If player's primary position is a pitcher, load pitches (rk-pitches div) as landing page instead of atbats (rk-at-bats div).

entry.js would need to be refactored. I tested the following change to default the partial page to pitches:

[code]

We would need to somehow persist the playerInfo array or just the playerInfo.primary_position_txt variable itself in order to change the redirectTo parameter

[2014-02-22 00:39] albertlyu commented on #32
@kruser, would we need to hard-code the coefficients into a JS object within statsConstantsService.js? Or we could somehow do a JavaScript call to http://www.fangraphs.com/guts.aspx ?

[2014-02-22 04:36] kruser commented on #32
@albertlyu , Fangraph's doesn't offer any contract or API with that page so we can't use it. Also, I don't think it would be a good idea to slow down the page load times waiting for pitchfx.org to contact fangraphs data.

Just setup the data like so in the js file....

[code]

NodeJS will efficiently cache that js file in memory so we won't pay a penalty to get the desired year.

[2014-02-22 04:45] kruser commented on #36
@albertlyu , I'm impressed you have it up and running. Congrats.

As for this one, I agree the data would be nice in the auto-complete. It may surprise you though, that I'm not storing the PlayerInfo data in the DB. I'm retrieving it only for drawing the individual player pages by hitting an MLB API. See this code...
https://github.com/kruser/pitchfx-site/blob/master/app/lib/services/mlb.js#L13-L2

[2014-02-22 04:45] #36 closed, assigned to nobody

[2014-02-22 04:57] kruser commented on #37
This is a good idea. Here's how I'd solve it....
1. go to the player.html EJS template. Where we have....

[code]

Change it to...

[code]

Except instead of hard coding /atbats you'll want to write some <%= playerInfo.primary_position %> EJS template code to selectively write either /atbats or /pitches based on the player's primary position.

Then you can read the body's data-default-route attrib

[2014-02-22 05:46] albertlyu commented on #26
Given @kruser 's comment in #36 regarding retrieving playerInfo, does that mean we wouldn't want to insert the status of each player (active, free-agent, retired) into the auto-complete either? Or is there another way we can get the status of the player other than from playerInfo.status?

[2014-02-22 05:52] kruser commented on #26
I think now that we have mug shots on the auto complete we should close this issue.

I'd be hesitant to alter the sort any further. The search results are best match based on the input right now.

At most I think we could alter the etl to write the date when the player was last found in a game and some how use that. that wouldn't have external dependencies.

I'll leave this open for comment for a

[2014-02-22 15:59] #37 closed, assigned to nobody

[2014-02-23 01:19] kruser commented on #26
My son convinced me that we should do this, so let's leave it open. When you type in just a few characters or a common name, it still alpha sorts as there are so many search results with the same score. So I would suggest we do a double sort...
- score descending
- last regular season game date descending

This will require some work on the atbat-mongodb project to ETL that data into the players c

[2014-02-23 03:03] #35 closed, assigned to kruser

[2014-02-23 03:11] kruser commented on #35
I tried this, it was bad. URLs too long and cryptic. I'll stay with the modal sharing for now. Only facebook and twitter are working though. I have an open ticket with AddThis about what's going on there. I think I've found a bug in their API.

[2014-02-23 22:58] albertlyu opened #39 "Clarification of pitch events and pitch results terminology"
This issue is more of a discussion thread rather than an actionable issue, at least for now.

**Swinging strikes vs. whiffs**

This is more of the former FanGraphs writer side of me speaking, but sometimes there is confusion in the baseball stats community about what 'whiff rate' means (whiffs/pitch or whiffs/swing). Typically, a 'swinging strike' is synonymous with 'whiff,' but 'swinging strike r

[2014-02-23 23:21] albertlyu commented on #39
Perhaps thoughts from this thread can be merged into #16 and/or #18 -- this issue could be under milestone 'Scout Assist'.

[2014-02-24 00:19] kruser commented on #39
@albertlyu , you're reading my mind! I was just on that fangraphs page last night. I do want to reorg the columns on the pitches tab a bit to come nearer to industry standards. All of this probably doesn't fit into single table so we'll have to org into multiple sets.

For anybody reading this issue, I think the next step is to present a suggestion via a simple table in this issue and once we come

[2014-02-24 00:55] albertlyu commented on #32
Tango's formula in 'The Book' has RBOE (reached base on error) in his wOBA formula. But it appears that FanGraphs' wOBA calculation may not take RBOE into account - 1) FanGraphs does not report a coefficient for RBOE in its Guts! wOBA constants page, and 2) These FanGraphs articles, while potentially out-of-date, suggest this to be the case.

http://www.fangraphs.com/library/offense/woba/
http://w

[2014-02-24 01:11] albertlyu commented on #32
Based on @kruser's previous comments, my attempt at solving #32 now is to create statsConstantsService.js in app\lib\services, storing the variable 'yearlyCoefficients.' calcWOBA would then become:

[code]

I believe this is the right JS code, but I could be wrong as I have not tested yet. We will need to somehow persist 'year' at the PA dimension through the var 'results'. Is this the data model

[2014-02-24 01:22] kruser commented on #32
calcWOBA() takes results from the entire set, not just from a single year. How do you plan to approach it when the caller asks for cross-year stats? I would just suggest taking the last year.

If that's the case, you can always count on the inbound filter passing in an end date in the filter.

To get the year from that...

[code]

I would also suggest you use a function in your statsService to get

[2014-02-25 05:38] #32 closed, assigned to nobody

[2014-02-25 05:39] kruser opened #41 "Setup travis-ci build"
This task is to setup a travis-ci build so we can tell if pull requests pass things like jshint, karma tests, etc., before pulling them in.

[2014-02-25 05:58] albertlyu commented on #41
Out of curiosity, is this related to your changes in kruser/pitchfx-site@52f7d629d4107fe128afde8f5c05376ba02ee2b9, creating somewhat of an automated formatter for the js code? Also I figured I can pick up these best practices along the way, so that my future contributions can have cleaner code.

[2014-02-25 06:01] kruser commented on #41
@albertlyu, yes, it will allow for contributions to be pretested. I already have jshint and karma tests setup, but they're not passing... even with my own code ;). You can see for yourself by executing 'grunt jshint' or 'grunt test' from your app folder.

Travis-ci will run these things on checkin. It will be pretty slick.

[2014-02-26 19:22] albertlyu commented on #41
Similar to this? If so, very cool.

[code]

https://github.com/github/linguist/pull/972
https://travis-ci.org/github/linguist/builds/19675897

[2014-02-26 19:25] kruser commented on #41
Yeah, that's the system. They'll run our unit tests, jshint, etc. Perks of being open-source.

[2014-02-27 18:33] kruser commented on #41
As part of this I have refactored all of the javascript so it passes our jshint and is compatible with angular-fullstack yeoman generators.

More to come in a developer guide.

[2014-02-28 23:38] albertlyu commented on #41
Sounds good, looking forward to the developer guide!

[2014-03-01 03:06] kruser opened #42 "Create a developer guide"
This task is to write a developer guide markdown page. The readme.md is a little out of date and while it explains how to setup, it doesn't explain our use of...
- AngularJS
- yeoman angular-fullstack generators
- jshint
- karma tests

[2014-03-01 03:11] kruser commented on #41
The travis-ci builds are now functional. Details here
https://travis-ci.org/kruser/pitchfx-site

The status is also reported on the Readme.md page at the root of this repository.

The build is running Karma unit tests as well as jshint (linter).

Leaving this open while I write a few Karma tests for existing code. Right now I only have a single test that is testing expect(true).toBe(true) <-- not

[2014-03-01 03:26] kruser opened #43 "Add hit scatter charts by zone"
A couple things for this one...

1) the pitch speeds on the Pitches tab are not useful for a batter, so when we get this new chart, let's replace that chart with this new one, but only on the batter's card

2) for pitchers, let's move the pitch speeds stacked line chart to right below the pitch types. It is the most interesting stuff for a pitcher

3) this new chart will be a 3x3 grid, each cell w

[2014-03-01 05:44] kruser commented on #41
checked in a few tests tonight. More to come, but enough to close this issue.

[2014-03-01 05:44] #41 closed, assigned to kruser

[2014-03-03 03:41] kruser commented on #42
Initial gude here: https://github.com/kruser/pitchfx-site/blob/master/DEVELOPER_GUIDE.md

[2014-03-03 03:41] #42 closed, assigned to kruser

[2014-03-03 04:35] kruser opened #44 "Create a sitemap.xml"
We should have a dynamically created sitemap.xml page that we can submit to google to index all player pages.

[2014-03-03 05:29] #44 closed, assigned to nobody

[2014-03-03 12:54] albertlyu commented on #32
@kruser, I'm curious as to why we have to restrict the WOBA calculations to one set of coefficients. Maybe I'm not fully understanding the technical aspects from your previous comment in this thread, but if the caller asks for cross-year stats, can't we pass in an array of statsYears instead of just the last statsYear (or at least, the first statsYear and last statsYear)? Would performance of the

[2014-03-03 13:03] kruser commented on #32
All stats are presented for the time period, not pre-split by year. So I can ask for a players stats from 2010-2014 and it will give me one wOBA number.

The way the stats are aggregated right now, things like wOBA are performed after all hit types are accumulated, not during.

I'm not saying it can't be done, but it is limited right now. It would take a little bit more of a code refactor.

[2014-03-03 13:30] albertlyu commented on #32
Makes sense. Perhaps the cost of refactoring the code (for now) outweighs the potential benefits of metric accuracy, given the other projects we can develop for the site :) Thanks for the quick explanation!

[2014-03-03 13:37] albertlyu commented on #42
For what it's worth, I did not recall (off the top of my head) any problems on Windows following your instructions to install MongoDB, run ETL to fetch data, or Node.js. It could be beneficial for me to reproduce those steps for more detailed and potentially Windows-specific instructions. I thought I had already installed the AngularJS framework, but I don't recall going through your Yeoman genera

[2014-03-03 13:38] albertlyu commented on #42
Although, I just remembered I may have forked/used https://github.com/linnovate/mean in order to get the web app up and running...

[2014-03-03 13:57] kruser commented on #42
Hmmmm, not sure what you needed mean for.

As for yeoman and angular-fullstack, you don't need to install those to run the app. They're just for generating new code files. The generator will build out a test file yo match each source file. Pretty slick stuff.

[2014-03-03 16:35] albertlyu commented on #42
Let's forget what I said about the MEAN stack. From now on, I'll try to be more detailed and consistent about my installation process, and inform you just in case there are any issues.

Anyway, I merged all of your updates, and I tried running grunt serve, but wasn't able to load the site locally. In cmd prompt, I received the following messages:

![image](https://f.cloud.github.com/assets/1390356

[2014-03-03 16:52] kruser commented on #42
Ah, sorry @albertlyu. I did add a few new dependencies. Things an 'npm install' would have solved for you... had I told you about that :).

I'll think about how to notify all users about when a new dependency is added. I'm glad you worked your way around it though.

[2014-03-03 17:25] albertlyu commented on #42
No worries, the error messages were informative and I figured it had to do with missing NodeJS packages. So running 'npm install' is enough to add all the new dependencies. Good to know.

[2014-03-03 23:02] kruser commented on #32
@albertlyu , agreed about other projects - like #39

[2014-03-04 04:43] #34 closed, assigned to kruser

[2014-03-04 04:45] kruser commented on #34
Developers - the next time you sync code you'll need to run a

[code]

... this will prompt an installation of the Modernizr library.

[2014-03-04 05:07] kruser commented on #26
I added an issue in the ETL project. This is required before I can implement this sort.
https://github.com/kruser/atbat-mongodb/issues/6

[2014-03-04 06:00] kruser commented on #26
I updated the ETL so the players collection will be updated on each pull with the start time of the games for the day.

[code]

And I updated the search API to sort on lastSeen:descending. Currently on pitchfx.org this value isn't populated. Starting tomorrow morning players that played today will get this value set. Then as we escape spring training the active players will be the only ones with l

[2014-03-04 06:00] #26 closed, assigned to nobody

[2014-03-06 00:56] kruser commented on #43
This enhancement to the atbat-mondodb project is needed before I can implement this.
https://github.com/kruser/atbat-mongodb/issues/7

[2014-03-06 02:15] kruser commented on #43
Developers that have created a DB for this project using atbat-mongodb need to run the commands listed in the linked issue above.

[2014-03-06 16:54] kruser commented on #31
Highcharts is coming out with a highmaps library that includes heat maps. I'll probably replace these two charts with heat maps.

http://www.highcharts.com/maps/demo/heatmap

[2014-03-06 17:48] kruser commented on #31
This heatmap library is a little more responsive to scatter data.
http://www.patrick-wied.at/static/heatmapjs/examples.html

The highcharts implementation requires a value in each square.

[2014-03-07 21:12] kruser commented on #31
Anybody care to offer an opinion on how you'd like to see hit zones? Choice in heat
- http://www.highcharts.com/maps/demo/heatmap - with this one we'd be able to add tooltips with raw numbers
- http://www.patrick-wied.at/static/heatmapjs/examples.html - this one might look cooler

Either way, the charts will reflect the % of pitches in each zone. I'm thinking the zones should be represented by a 1

[2014-03-07 21:25] albertlyu commented on #31
Correct me if I'm wrong, but heatmap.js will paint the heat in each zone relative to the rest of the heatmap, no? At least the example of http://www.patrick-wied.at/static/heatmapjs/example-heatmap-click.html, the max value that paints 'red' continues to increase if you click in one spot at a very high frequency. Perhaps the upper bound of the heat can be capped (% of pitches in each zone), but ju

[2014-03-07 21:29] kruser commented on #31
@albertlyu, I'm not sure of the answer to that, but from a glance it looks like they support a max property on the configuration. The click demo doesn't have that property.

[2014-03-07 21:40] patrickjmcd opened #46 "Season-Independant Date Range Statistics & Comparison"
It would be great to be able to pull season-independant data. For instance, I know that Lance Lynn has a great ERA in the first few months of the season, tapers off during the middle of the season, and then gets hot again around late-august.

I think it would also be really neat to be able to see that data side-by-side (e.g. Lance Lynn in April-May vs June-July).

This is an AWESOME project. I sta

[2014-03-07 21:47] patrickjmcd opened #47 "Balls in Play Result"
Especially from a pitcher's perspective, it would be great to either be able to filter the Balls in Play chart by result (Out vs. Safe). Going a step further, if the batter was safe, what was the result?

I know this has the potential to make the chart very messy, but maybe the Balls in Play chart could have a link to pop out to a chart with filters?

[2014-03-07 21:53] kruser commented on #31
Also for this one, right now we just have the two zone charts....
- whiffs
- hit quality (wOBA)

I think we should add more like...
- swings
- whiffs per swings
- trajectory (grounders, flyballs, etc)

...and let the user scroll/toggle/click through to the one they're interested in.

I'm less interested in..
- BA
- Slugging
- HR

..as I think the wOBA chart kind of handles them all together.

[2014-03-07 22:01] kruser commented on #46
Welcome @patrickjmcd! Thanks for interacting here and creating some new discussions. Keep it up please. If you're wanting to submit code, check out the dev guide and let me know if you run into any setup issues.

For this specifically, a mockup might help me and others visualize your idea. A picture of a napkin sketch is an acceptable mockup ;).

We also need to start thinking more about the site'

[2014-03-07 22:08] kruser commented on #47
A picker in the title to swap?

![screen shot 2014-03-07 at 4 08 48 pm](https://f.cloud.github.com/assets/2208700/2362936/0e1bd134-a645-11e3-94ce-7001431d2585.png)
![screen shot 2014-03-07 at 4 08 42 pm](https://f.cloud.github.com/assets/2208700/2362938/1088b572-a645-11e3-820b-85f95db72386.png)

[2014-03-07 22:13] kruser commented on #47
By the way, those screenshots above are just mockups - not real. I just put them in for discussion.

[2014-03-07 22:18] patrickjmcd commented on #46
I just did a quick inspect/edit and mocked up this... Definitely would need some UI tweaking, especially since it ruins the charts.

A button on the filter panel would effectively cut the stat panel in half and add a new filter. Maybe that creates a tab bar above the filter panel to change the filter for each part in the stat panel.

![mockup](https://f.cloud.github.com/assets/2488848/2363007/3f52

[2014-03-07 22:19] patrickjmcd commented on #47
Yes! That's exactly what I was thinking.

[2014-03-07 22:21] kruser commented on #46
What browser is that? Your Date Ranges are empty for some reason.

So you're wanting to do comparisons - I'll think about this as a general thing, stashing/stacking a current view. I don't want to recreate what browser tabs are for, but I can see would be nice to see several different splits together and not necessarily just for a single player.

[2014-03-07 22:23] patrickjmcd commented on #46
I'm using Chrome. I didnt change any of the source files, just did "Inspect element" on the page and changed the HTML

[2014-03-07 22:23] kruser commented on #47
I'd be fine with this then. Marking it as an enhancement. If anybody wants to start it let me know.

[2014-03-07 22:25] patrickjmcd commented on #47
I'll give it a shot, but I'm still learning the nuts and bolts of how the site is put together. Might take me a bit.

[2014-03-07 22:31] albertlyu commented on #46
Showing two different atbat views or pitches views with different filters to do comparisons would be a nice-to-have. However, the amount of horizontal real estate of the webpage that will be taken up may require a redesign of the views. Not every desktop's screen has 16:9 aspect ratio :)

Is it possible to overlay views on top of each other with two different sets of filtered results? That could s

[2014-03-07 22:33] albertlyu commented on #47
@kruser, do you think we could start a general thread in https://github.com/kruser/atbat-mongodb/ with the purpose of helping new developers get set up who have specific questions? Or is there a better practice in Github project collaboration?

[2014-03-07 22:34] kruser commented on #47
Sounds good @patrickjmcd, my email and twitter are on the homepage if you need to contact me or Albert while you're getting setup.

Note that the stats.js controller only returns an array of x/y coords keyed by trajectory. So there is server work here too.
https://github.com/kruser/pitchfx-site/blob/master/app/lib/controllers/apis/stats.js#L137-L166

Switching views can either hit a new endpoint o

[2014-03-07 22:35] kruser commented on #47
@albertlyu, yeah, that's probably a good idea. Let me know where the doc isn't sufficient either. Installing Perl modules can sometimes be a bear.

[2014-03-07 22:40] patrickjmcd commented on #46
That might make a bit more sense. something like this?
![mockup2j](https://f.cloud.github.com/assets/2488848/2363203/6bfe3f04-a649-11e3-9e4e-133396c8b59b.jpg)

[2014-03-07 22:44] kruser commented on #46
Yeah, I like that. We can use some sort of "sticky" button to stick a current filter.

My fancy progress bars for the other stats are getting us in trouble on that though. We can't replicate those, even though they may be more interesting that the line items you show above.

If you were only interested in the items you show, we could add a checkbox (like on the pitches tab) to each row, and when a

[2014-03-07 22:45] patrickjmcd commented on #46
I tried to do the same thing with the progress bars and it wasn't working out so great. Once I spend some time working through how the site works, I'll be able to give it a real shot.

[2014-03-07 23:15] albertlyu commented on #34
:+1: Ahh I was wondering why my local version of the site was not getting connected to the database -- turns out I needed a bower install to get Modernizr!

[2014-03-08 00:06] albertlyu commented on #39
Experimenting a bit here. By modifying https://github.com/kruser/pitchfx-site/blob/master/app/app/views/partials/pitches.html#L52-L64, I get the following (note -- labels modified for clarification):

![image](https://f.cloud.github.com/assets/1390356/2363766/9292b8c4-a654-11e3-82d7-405b72671210.png)

And this is my html:

[code]

The last three columns don't add up to 100%. Am I missing something

[2014-03-08 00:14] kruser commented on #39
I'll have to look at the source data a little bit more to determine why. This logic seems solid
https://github.com/kruser/pitchfx-site/blob/master/app/app/scripts/pojos/Pitch.js#L16-L54

...so it might be the pitchStats.js controller.

[2014-03-08 00:36] albertlyu commented on #39
In addition to HR, other examples of pitch results that could cloud the foul/bip/whiff classification include foul tips (pretty sure it's a foul) and dropped third strikes (pretty sure it's a whiff).

[2014-03-08 00:43] albertlyu commented on #46
@kruser, it looks like my Date Ranges are empty too when I load pitchfx.org in Chrome. But in Firefox and IE, the date ranges are shown by default as expected. I cleared the cache in Chrome, and the issue persisted. @patrickjmcd, do you see the same issue?

[2014-03-08 18:32] kruser commented on #46
I can confirm the issue with the dates. I'll fix it tonight.

[2014-03-11 03:09] albertlyu commented on #39
Here is my working idea of additional tabular views under the pitches view:

_Summary_ (default view)
Pitch   , #, B, K, Swing, Whiff, Foul, BIP, Hit, BIP-Out, GB, LD, FB, PU

_Pitch Results_ (denominator: row.count or row.swing)
Pitch   , #, Ball, CalledStr, SwStr, Foul, BIP-Out, Hit, Whiff/Swing, Contact/Swing

_Batted Ball Results_
Pitch   , GB/FB, GB%, LD%, FB%, PU%, HR/FB (using row.hr?)

_Pl

[2014-03-12 04:14] kruser commented on #39
This is great @albertlyu, thanks for putting this together. I think these are all very necessary for a site like this, but they don't fit in well with the current UI. So, we should change the current UI :).

I'm going to start thinking about using the site as a researcher. This issue, along with #46 will give this site an excellent shift towards creating a filter, sticking the filtered data, and c

[2014-03-12 04:57] kruser commented on #46
@albertlyu and @patrickjmcd, I'm attaching a mockup of a more general ability to save your filters and quickly access them. It's not quite the same as being able to plot tables side-by-side, but it offers a general filter save mechanism that could be utilized on any player card.

![image](https://f.cloud.github.com/assets/2208700/2393948/bd81a9c2-a9a2-11e3-9d1c-0f6ef023b845.png)

Thoughts?

[2014-03-12 15:16] kruser commented on #46
Another extension to this would be what @patrickjmcd was thinking, where we continue to show all past filters in the table data, as text-muted.

![image](https://f.cloud.github.com/assets/2208700/2398774/e1f634a2-a9f8-11e3-9a47-1d50cbeac207.png)

This might mean moving the % stats from the progress bars into their own table row though. Although I'd hate to get rid of the animated progress bars but

[2014-03-12 15:33] albertlyu commented on #46
Perhaps a jquery knob could go in place of the progress bars? http://anthonyterrien.com/knob/

Edit: An animated widget visualizing the progress bars is great, but I wonder about the benefit of being able to visually compare the hitting metrics against one another. For example, even though wOBA is scaled to OBP, it doesn't necessarily tell me much that Morneau has a higher wOBA than OBP, other tha

[2014-03-12 15:47] albertlyu commented on #46
For the last paragraph in my last comment, something like this, with more palatable colors:
![image](https://f.cloud.github.com/assets/1390356/2399310/81b1b6a2-a9fd-11e3-9300-4b113ac4f648.png)

[2014-03-12 16:37] kruser commented on #46
Just say NO to jQuery! :)

I'm sure we could get an AngularJS knob though too. Both are interesting suggestions though. Let's keep churning on these ideas as I definitely think when we swap a filter we need to compare the wOBA, BA, OBP, etc. We could possibly just remove the bars in favor of a table once you swap the filter or save a new one too.

[2014-03-12 17:50] kruser commented on #46
The most I think about it, the more I like keeping the progress bars, but morphing them into a table once the user picks another saved filter or saves a new one. That way this screen stays fairly visual when you first come to it, and only becomes table driven as you stick more filters on.

I'm going to assign this issue to me to work on over the weekend. Keep the comments and suggestions coming.

[2014-03-12 17:56] albertlyu commented on #46
Sounds good to me. Just figured that if you're changing between one filter and multiple filters views, you'll want to keep the main view somewhat consistent, if possible. But it also makes sense that a multiple filters view is somewhat limiting because of the amount of additional space needed on the webpage. So it might make sense to convert the progress bars to a table when switching from a one f

[2014-03-13 14:30] kruser commented on #31
Current plan for this..

![image](https://f.cloud.github.com/assets/2208700/2410315/0216c030-aabc-11e3-8ed3-dc5496901be4.png)

This is a mockup - the final product will be a little more polished.

[2014-03-15 22:23] albertlyu commented on #31
Is this heatmap.js? This looks great. Some feedback: For the heatmaps, it would be great if we could show a legend for the colors (you may have already planned that, but just FYI). Also that legend color bar should hopefully have the same scale. Either way, I'd like to understand the code when you check this in, like how the heat classification is getting binned and whether there are any smoothing

[2014-03-15 22:56] kruser commented on #31
Yes, it is heatmap.js. I think you're right on the legend bar. I'll be sure to put that in.

I think a v2 should include tooltips as well. Those will be a little more customized as heatmap.js doesn't support tooltips. Highcharts does, but I like the heatmap.js presentation better.

As for the scale, I agree. I'll have to put a scale that is the same for all players. Likely I'll base the scale on a

[2014-03-17 03:27] kruser commented on #46
FYI, I didn't make any progress on this one over the weekend. I'm still working on the heatmaps.

[2014-03-17 21:28] albertlyu commented on #39
@kruser, will the work addressed in #46 allow for base-out state and ball-strike count for each pitch to be persisted into the aggregator in pitchStats.js? Or will that be a separate issue to work on? See https://github.com/kruser/pitchfx-site/blob/master/app/app/scripts/controllers/pitchStats.js#L382-L404.

I'm imagining that in order for my idea laid out in https://github.com/kruser/pitchfx-site

[2014-03-19 03:05] kruser commented on #39
@albertlyu, work on the atbat-mongodb project will need to be completed before we can get the base/out state on each pitch.  Right now I just have that information at the start of each atbat, which is mostly accurate, but falters when a baserunning out occurs.

Also related, I need to store the ball/strike on each pitch. I have that issue open on the atbat-mongodb project already.
https://github.c

[2014-03-21 18:45] kruser commented on #31
As much as I like the heatmap.js, the highcharts version has better support for tooltips, which will allow us to show data in each square, so I've switched gears to work with that.
http://www.highcharts.com/maps/demo/heatmap

The adjustments to the backend service are done, just making the UI changes now.

For now I'm doing a 10x10 grid, with the inner 6x6 grid being the common strike zone (not ad

[2014-03-21 21:21] albertlyu commented on #31
10x10 grid with a 6x6 grid inset? Are each of these squares going to be individual heat bins? I guess it's not as pretty as heatmap.js, but more functional.

[2014-03-21 21:24] kruser commented on #31
Yes, each square would have its own value.

Example mockup without the colors
![image](https://f.cloud.github.com/assets/2208700/2488153/3607edea-b13f-11e3-93d9-1085a989c8e0.png)

[2014-03-21 21:25] kruser commented on #31
I'm not sure if that's cutting it too thin or not. We'll see. I know brooksbaseball only does 5x5.

[2014-03-21 21:34] albertlyu commented on #31
Ahh okay, I understand now. I like 6x6 inset because then it should be easier to aggregate and calculate values for the traditional 3x3 inset strikezone. In fact, letting the user play around with the bin sizes could be an option. Is that possible? Once a player page loads and grabs the values for each of the 100 bins, it should be relatively simple to quickly generate the values for a different c

[2014-03-24 14:34] albertlyu commented on #31
Hey @kruser, do I need to do any installations for the new highcharts to render the new heatmaps locally? I see the download link at highcharts.com, but I'm wondering if you think i should npm install highcharts or something along those lines?

[2014-03-24 14:57] kruser commented on #31
@albertlyu , sorry about this, I've been building this feature in the master branch when I should have created a new branch. So for now you'll see empty slots as they haven't been implemented.

So far I have the Zones.js class that is responsible for moving pitches in the appropriate zones and then kicks out some stat for each zone.

You can see the test spec for Zones.js here. All tests are curre

[2014-03-26 17:22] kruser commented on #31
This is coming along, although the colors are horrific right now. I'm not sure what to do when a 1/1 in a remote corner colors RED just like 100/100 in a square in the middle would. Anybody have any thoughts?

![image](https://f.cloud.github.com/assets/2208700/2528009/3d76a06a-b50b-11e3-8971-bbbab729bd46.png)

[2014-03-26 18:32] kruser commented on #31
Another option here is to make the heatmap a 5x5 grid instead of 10x10 and display the %s and other data in each square - not in a tooltip. For example a square might show this...

75%
45/60

[2014-03-26 22:09] albertlyu commented on #31
I'm not sure how user-friendly labeled data in each square would be. My suggestion is to use heatmap.js and add tool-tip features in the future. Are you sure there's no way to map a tooltip information on top of the strikezone sometime later? They don't have to be coordinated with heatmap.js, just have relative coordinates for each strikezone area and display specific tooltip / numbers on hover.

[2014-03-26 22:50] kruser commented on #31
Tooltips are definitely feasible with heat map.JS, it's just not part of the API.

I'm going to play a little more with heat map.JS and post an image to this thread. I think the Highcharts heatmap would look a lot better if we had 4x the squares. 10x10 looks more along the lines of the brooksbaseball zone charts.

[2014-03-29 03:37] kruser commented on #31
Played with heatmap.js a little bit. It doesn't do great when the points are laid out in a grid. It would be a great way to plot out individual whiffs, hits, etc., like in a plain old scatter chart. However, the entire point of this issue is to make it so that we weight appropriately based on pitches seen.

![image](https://cloud.githubusercontent.com/assets/2208700/2557179/7ca09f5e-b6f3-11e3-9414

[2014-03-30 21:18] kruser commented on #31
I moved back to the highmaps heatmap (highcharts). It displays grid data a little cleaner. Raw stats are available in the tooltip. Currently I only implemented swing rate and whiffs/swings, but it will be trivial to implement new metrics.

![image](https://cloud.githubusercontent.com/assets/2208700/2562537/8847126c-b850-11e3-9fcc-a8c2c0c161bf.png)

For those interested in adding more charts, start

[2014-03-30 21:18] #31 closed, assigned to kruser

[2014-04-08 03:31] kruser commented on #46
I've started this work inside the issue-46 branch if anybody is interested in following along.

[2014-04-11 19:30] albertlyu commented on #39
I'll think about this issue a little bit more. A potential thought here is to have some consistency between the pitch table and the heatmaps (including possibly adding the sabermetric outcomes as additional columns). If the metrics in the pitch table eventually match with the heatmaps, then the column names could get crowded, requiring another accordion of some sort, so that could be a downside. S

[2014-04-13 23:22] kruser commented on #46
I merged a bunch of code for this from my feature branch and deployed it to the site. Note that the new filter results are maintained on the at-bat tab right now but not on the pitches tab. I'm thinking about doing the same thing on the pitches tab, with a rollup for each filter result. Clicking on a rollup would expose the per pitch-type that we see today. Let me know if you have any feedback on

[2014-04-14 04:57] albertlyu commented on #46
This is so slick! My initial suggestion would be to add other 'groups' of default filters beyond year, such as handedness, runners on base, first pitch vs. behind in the count vs. ahead in the count, etc. but this is so so slick so far. I noticed that you have to click around to get used to how default filters vs. saved filters populate and such, but I'll do some more testing this week to narrow d

[2014-04-14 14:26] kruser commented on #46
I'm going to close this issue out since we have fufilled the original purpose. Let's tackle the pitches tab in the separate set of work since it requires a bit more though. I believe we should do #65 first though.

[2014-04-14 14:26] #46 closed, assigned to kruser

[2014-04-14 18:46] kruser commented on #39
Let's aim to bring all metrics in this table inline with the heatmaps.

[2014-04-16 21:55] patrickjmcd commented on #47
Sorry that I've been absent for so long on this. I have the site up and running locally and I've been working to break it down to figure out how to make this happen (I'm still very new to AngularJS). I'll keep you all posted on my progress.

[2014-04-16 22:02] albertlyu commented on #47
@patrickjmcd, good to hear from ya! I'm still very new to AngularJS as well. I've found ng-newsletter.com to be very useful as well as the many tutorials out there. I also had the benefit of attending an AngularJS workshop here in Chicago. But once you get the gist of the MVC framework, I think a great way to learn is to find an issue to contribute to here, then pick @kruser's brain. That's worked

[2014-04-16 22:04] albertlyu commented on #47
Also great that you were able to get the site up and running! Seems like the documentation works well, even for Windows users, as I was able to follow it beforehand too. Let's keep in mind of future developers who may need help setting up.

[2014-04-16 22:05] patrickjmcd commented on #47
Worked just fine for me and I'm on a Mac. 

Documentation was a huge help. 
—
Sent from Mailbox for iPhone

On Wed, Apr 16, 2014 at 5:04 PM, Albert Lyu notifications@github.com
wrote:

[2014-04-17 03:52] albertlyu commented on #39
One idea so far is to add a lot of metrics and allow a horizontal overflow of the table to the right. We'd want to freeze Pitch type column though as you scroll to the right. Major problem with this method though is the responsiveness of the tables for smaller screen widths.

![image](https://cloud.githubusercontent.com/assets/1390356/2727913/3a339564-c5e3-11e3-8ec3-779a16109595.png)

The other id

[2014-04-18 19:42] kruser commented on #39
@albertlyu, I never addressed your last comment.

I wasn't thinking of changing the layout, I meant that the metrics in the table should be measuring the same things we do in the heatmaps.

But, now that we have the heatmaps neatly organized, does it make sense to break the tables into that view with the accordion? I think we should have a discussion on this now. I'll keep thinking.

[2014-04-18 23:48] albertlyu commented on #39
@kruser, if that's the case, we can keep B, K, and a metric for each heatmap in the same order, and I think the table will fit nicely into the view. What I was concerned about was if the table got too wide. But changing the metrics to be in line with what we're showing in the groups of heatmaps should be straightforward.

I think it'd be worth putting thought into how we'd want to support more tab

[2014-04-20 16:25] kruser commented on #43
This is live on the site now. Closing.

[2014-04-20 16:25] #43 closed, assigned to kruser

[2014-04-20 17:36] albertlyu commented on #43
Trying to see if I can post a picture here off my phone, but I'm seeing Mike Trout with a decent BIP rate on sliders and curveballs down in the zone, but the BIP by zone chart doesn't show BIPs down in the zone. Maybe the y-axis is flipped? I'll take a look again when I get back to my laptop.

Otherwise, this is fantastic.

[2014-04-20 17:41] kruser commented on #43
Doh! I hope not. I'm out for several hours but I'll look into it tonight to
confirm and fix. Thanks Albert.
 On Apr 20, 2014 12:36 PM, "Albert Lyu" notifications@github.com wrote:

[2014-04-20 18:24] albertlyu commented on #43
Here is Mike Trout in 2013-2014 against changeups. I checked breaking balls and offspeed pitches for a couple of other batters and saw similar results:

![image](https://cloud.githubusercontent.com/assets/1390356/2751198/7ea722ce-c8b8-11e3-8047-a905793b99fd.png)
![image](https://cloud.githubusercontent.com/assets/1390356/2751203/9d61649a-c8b8-11e3-93ac-6fd328bd51ce.png)

[2014-04-20 19:09] kruser commented on #43
Ok. I obviously reversed them. Awesome that you can use the app to find
this.
On Apr 20, 2014 1:24 PM, "Albert Lyu" notifications@github.com wrote:

[2014-04-20 19:14] albertlyu commented on #43
Yup - already having the BIP rate chart allowed me to cross-check with the new hit scatter charts. Also I did all this chart testing on my smartphone - seamless experience. It was just quite inconvenient that I couldn't post screen captures straight to Github issues on mobile :)

[2014-04-20 22:30] kruser commented on #43
I flipped those rows around. I did have the 0th and 2nd row flipped. Thanks for catching that one.

[2014-04-22 16:08] adayNU commented on #29
@kruser Twitter actually has a list of players that are on twitter by team here:

https://discover.twitter.com/sports/major-league-baseball

Not sure how up to date these are, however.

[2014-04-22 16:37] kruser commented on #29
Good find. Definitely worth mining.

[2014-06-05 16:26] kruser commented on #29
MLBAM has added a twitter_id field to their playerInfo API that is used on this site. So we already have the twitter handle available.

[code]

[2016-01-12 16:55] LeeZee1 commented on #32
I set up a column for "wOBA-against" for each starting pitcher using the season-specific coefficients in GUTS! Now I'm wondering if those coefficients can be used on a game-by-game basis such that there will be a "wOBA-against" value for each game of each starting pitcher for each season using the coefficients of a given season for the calculations of wOBA for the games within that season.

I'm wo

[2020-03-17 20:34] #47 closed